@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --navigation-height: 3.6rem;
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
  }

  .dark {
    --navigation-height: 3.6rem;
    --background: 0, 0%, 9%;
    --foreground: 0 0% 98%;
  }
}

@layer base {
  html {
    @apply bg-background font-sans;
  }
  body {
    @apply text-foreground;
    font-feature-settings:
      'rlig' 1,
      'calt' 1;
  }
}

@layer utilities {
  .dark-text-gradient {
    background: linear-gradient(
      to right bottom,
      rgb(255, 255, 255) 30%,
      rgba(255, 255, 255, 0.38)
    );
    background-clip: text;
    color: transparent;
  }

  .light-text-gradient {
    background: linear-gradient(
      163deg,
      #000 16.12%,
      rgba(102, 102, 102, 0.7) 94.64%
    );
    background-clip: text;
    color: transparent;
  }
}
